#header {
	display: flex;
	flex-wrap: wrap;
}

#me {
	text-align: right;
	margin-left: auto;
}

#name {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

#title {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

#logo {
	width: auto;
	height: 4em;
}

#banner img {
	width: 100%;
	height: auto;
}

#showcase {
	font-family: Verdana, Geneva, sans-serif;
}

#feature img {
	width: 33%;
	height: auto;
}

@media only screen and (max-width: 500px) {
	#header {
		flex-direction: column;
	}

	#me {
		text-align: center;
		margin: auto;
	}
	#logo {
		margin: auto;
		width: auto;
		height: 2em;
	}
}